* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 576px */

/* //////////////////////////////////////////
        Header Section

    */

.Home > .Content > .Header {
  display: block;
}

.Home > .Content > .Header #logo {
  width: 36px;

  padding-top: 30px;
  padding-left: 15px;
}

.Home > .Content > .Header #logo-text {
  display: none;
}

/* //////////////////////////////////////////
        Section - 1

    */

.Home .Section-1 {
  margin-top: 83px;
}

.Home .Section-1 .Content .Header {
  width: fit-content;

  margin-bottom: 25px;
  margin-left: 26px;
  margin-right: 26px;
}

.Home .Section-1 .Content .Header #header-txt {
  color: white;

  font-size: 36px;
  font-weight: 700;

  line-height: 47.12px;

  text-align: center;

  margin: 0;
}

.Home .Section-1 .Content .Description {
  width: fit-content;
  height: fit-content;

  margin-left: 26px;
  margin-right: 26px;
}

.Home .Section-1 .Content .Description #desc-txt {
  color: white;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;

  line-height: 29.1px;

  text-align: center;

  margin: 0;
}

.Home .Section-1 .Content .Register-Button {
  width: 100%;

  margin-top: 48px;

  margin-left: auto;
  margin-right: auto;

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;

  z-index: 5;
}

.Home .Section-1 .Content .Register-Button #regis-btn {
  display: block;

  color: white;

  font-weight: 600;
  font-size: 20px;

  text-decoration: none;

  padding: 16px 36px;

  border-radius: 30px;
  border: 2px solid #062eff;

  background: linear-gradient(125.57deg, #066aff -9.14%, #062eff 118.98%);
  background-repeat: no-repeat;
  box-shadow: 0px 0px 16px rgba(6, 80, 255, 0.35);

  cursor: default;
}

.Home .Section-1 .Content .Register-Button #regis-btn:hover {
  background-image: none;
}

.Home .Section-1 .Content .Register-Button #regis-btn #arrow-logo {
  margin-right: 8px;
}

.Home .Section-1 .Illustration {
  margin-left: auto;
  margin-right: auto;
}

.Home .Section-1 .Illustration #illus-img {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  display: block;
  z-index: 3;

  top: -84px;
}

.Home .Section-1 .Illustration #illus-img-desktop {
  display: none;
}

/* //////////////////////////////////////////
        Section - 2

    */

.Home .Section-2 {
  margin-top: 135px;
}

.Home .Section-2 .Illustration {
  width: fit-content;
  height: 75vw;

  margin-left: auto;
  margin-right: auto;
}

.Home .Section-2 .Illustration #illus-img {
  width: 75vw;

  margin-left: 20px;
  margin-right: 20px;
}

.Home .Section-2 .Content .Header {
  width: fit-content;

  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

.Home .Section-2 .Content .Header #header-txt {
  color: white;

  font-size: 28px;
  font-weight: 700;
  line-height: 37px;
  text-align: center;

  margin: 0;
}

.Home .Section-2 .Content .Description {
  width: fit-content;

  margin-top: 24px;
  margin-left: 7vw;
  margin-right: 7vw;
}

.Home .Section-2 .Content .Description #desc-txt {
  color: white;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  text-align: justify;

  margin: 0;
}

.Home .Section-2 .Content .Cards {
  color: #110f20;

  width: fit-content;

  display: flex;
  flex-direction: row;
  gap: 58px;

  text-align: center;

  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.Home .Section-2 .Content .Cards .Card {
  background-color: #ffffef;

  padding: 16px 8px;

  border: 1px solid #ffffef;
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.48);
  border-radius: 8px;
}

.Home .Section-2 .Content .Cards .Card.Card-3,
.Home .Section-2 .Content .Cards .Card.Card-4 {
  display: none;
}

.Home .Section-2 .Content .Cards .Card .number {
  font-size: 24px;
  font-weight: 700;
  line-height: 37px;

  text-align: center;

  margin: 0;
}

.Home .Section-2 .Content .Cards .Card .text {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;

  text-align: center;

  margin: 0;
}

/* //////////////////////////////////////////
        Section - 3

    */

.Home .Section-3 {
  margin-top: 126px;
}

.Home .Section-3 > .Header {
  width: fit-content;

  margin-left: auto;
  margin-right: auto;
}

.Home .Section-3 > .Header #header-txt {
  color: white;

  font-size: 28px;
  font-weight: 700;
  line-height: 37px;

  text-align: center;

  margin: 0;

  padding-left: 10vw;
  padding-right: 10vw;
}

.Home .Section-3 .Description .Point {
  width: fit-content;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 64px;
  margin-inline: 14px;
}

.Home .Section-3 .Description .Point:hover .Point-Symbol {
  border-color: transparent;
  box-shadow: 0px 0px 12px rgba(255, 117, 29, 0.1);
}

.Home .Section-3 .Description .Point.Point-1:hover .Point-Symbol {
  background-color: #ff751d;
}

.Home .Section-3 .Description .Point.Point-2:hover .Point-Symbol {
  background-color: #0756f1;
}

.Home .Section-3 .Description .Point.Point-3:hover .Point-Symbol {
  background-color: #01ec51;
}

.Home .Section-3 .Description .Point.Point-1:hover .Point-Symbol .Code-Symbol,
.Home
  .Section-3
  .Description
  .Point.Point-2:hover
  .Point-Symbol
  .Connection-Symbol,
.Home
  .Section-3
  .Description
  .Point.Point-3:hover
  .Point-Symbol
  .Trophy-Symbol {
  fill: #ffffef;
}

.Home .Section-3 .Description .Point .Point-Symbol {
  width: 100%;
  max-width: 72px;
  aspect-ratio: 1/1;

  padding: 24px 24px;

  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 0.307419px solid #ffffef;
  box-shadow: 0px 0px 7.37807px rgba(255, 255, 255, 0.13),
    inset 0px 0px 3.68903px rgba(255, 255, 255, 0.15);
  border-radius: 16px;

  transition: all 0.3s ease;
}

.Home .Section-3 .Description .Point.Point-1 .Point-Symbol .Code-Symbol {
  width: 36px;
  height: 100%;

  transition: all 0.3s ease;
}

.Home .Section-3 .Description .Point.Point-2 .Point-Symbol .Connection-Symbol {
  width: 23px;
  height: 100%;

  transition: all 0.3s ease;
}

.Home .Section-3 .Description .Point.Point-3 .Point-Symbol .Trophy-Symbol {
  width: 19px;
  height: 100%;

  transition: all 0.3s ease;
}

.Home .Section-3 .Description .Point .Content {
  width: fit-content;

  margin-left: 36px;
}

.Home .Section-3 .Description .Point .Content #header-txt {
  color: white;

  font-size: 20px;
  font-weight: 700;
  line-height: 26px;

  margin-bottom: 16px;
}

.Home .Section-3 .Description .Point .Content #desc-txt {
  color: white;

  font-size: 16px;
  font-weight: 500;
  line-height: 21px;

  text-align: justify;
}

/* //////////////////////////////////////////
        Section - 4

    */

.Home .Section-4 {
  margin-top: 173px;
}

.Home .Section-4 .Illustration {
  width: fit-content;

  margin-inline: auto;
}

.Home .Section-4 .Illustration #illus-img {
  width: 83vw;
}

.Home .Section-4 .Content .Header {
  width: fit-content;

  margin-top: 21.5px;
  margin-inline: auto;
}

.Home .Section-4 .Content .Header #header-txt {
  color: white;

  font-size: 28px;
  font-weight: 700;
  line-height: 37px;

  text-align: center;

  margin: 0;
}

.Home .Section-4 .Content .Description {
  width: fit-content;

  margin-top: 24px;
  margin-inline: 5vw;
}

.Home .Section-4 .Content .Description #desc-txt {
  color: white;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  text-align: justify;

  margin: 0;
}

.Home .Section-4 .Content .Buttons {
  width: fit-content;

  display: flex;
  flex-direction: row;
  gap: 10vw;

  margin-top: 60px;
  margin-inline: auto;
}

.Home .Section-4 .Content .Buttons .ig-btn {
  --btn-border-width: 2px;

  width: fit-content;
  height: fit-content;

  color: white;

  text-decoration: none;

  padding: var(--btn-border-width);

  background-image: linear-gradient(
    86.71deg,
    #ff7a00 2.22%,
    #ff0069 38.36%,
    #d300c5 105.53%
  );

  filter: drop-shadow(0px 0px 16px rgba(251, 0, 110, 0.3));
  border-radius: 9999px;
}

.Home .Section-4 .Content .Buttons .ig-btn .ig-btn-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;

  padding: 13px 25px;

  margin-block: auto;

  border-radius: 9999px;

  cursor: none;

  transition: all 0.3s ease;
}

.Home .Section-4 .Content .Buttons .ig-btn:hover .ig-btn-content-wrapper {
  background-color: #110f20;
}

.Home
  .Section-4
  .Content
  .Buttons
  .ig-btn
  .ig-btn-content-wrapper
  .ig-icon-wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.Home
  .Section-4
  .Content
  .Buttons
  .ig-btn
  .ig-btn-content-wrapper
  .ig-icon-wrapper
  #ig-icon {
  width: 24px;

  transition: all 0.3s ease;
  transition-delay: 0.3s;
}

.Home
  .Section-4
  .Content
  .Buttons
  .ig-btn
  .ig-btn-content-wrapper
  .ig-icon-wrapper
  #ig-icon-colored-1,
.Home
  .Section-4
  .Content
  .Buttons
  .ig-btn
  .ig-btn-content-wrapper
  .ig-icon-wrapper
  #ig-icon-colored-2 {
  width: 0;

  position: absolute;

  transition: all 0.3s ease;
}

.Home
  .Section-4
  .Content
  .Buttons
  .ig-btn
  .ig-btn-content-wrapper
  .ig-icon-wrapper
  #ig-icon-colored-1 {
  top: 0;
  right: 0;
}

.Home
  .Section-4
  .Content
  .Buttons
  .ig-btn
  .ig-btn-content-wrapper
  .ig-icon-wrapper
  #ig-icon-colored-2 {
  bottom: 0;
  left: 0;
}

.Home
  .Section-4
  .Content
  .Buttons
  .ig-btn:hover
  .ig-btn-content-wrapper
  .ig-icon-wrapper
  #ig-icon-colored-1,
.Home
  .Section-4
  .Content
  .Buttons
  .ig-btn:hover
  .ig-btn-content-wrapper
  .ig-icon-wrapper
  #ig-icon-colored-2 {
  width: 100%;
}

.Home
  .Section-4
  .Content
  .Buttons
  .ig-btn:hover
  .ig-btn-content-wrapper
  .ig-icon-wrapper
  #ig-icon {
  opacity: 0;
}

.Home .Section-4 .Content .Buttons .ig-btn #ig-txt {
  font-weight: 600;
  font-size: 16px;

  margin: 0;
  margin-block: auto;
}

.Home .Section-4 .Content .Buttons .github-btn {
  color: black;

  width: fit-content;
  height: fit-content;

  text-decoration: none;

  display: flex;

  padding: 13px 36px;

  margin-block: auto;

  background-color: #ffffff;

  border: 2px solid #ffffff;
  border-radius: 9999px;

  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.48);

  cursor: none;

  transition: all 0.3s ease;
}

.Home .Section-4 .Content .Buttons .github-btn:hover {
  color: white;
  background-color: transparent;
}

.Home .Section-4 .Content .Buttons .github-btn .github-logo {
  width: 24px;

  margin-right: 8px;

  transition: all 0.3s ease;
}

.Home .Section-4 .Content .Buttons .github-btn:hover .github-logo {
  fill: white;
}

.Home .Section-4 .Content .Buttons .github-btn #github-txt {
  font-weight: 600;
  font-size: 16px;

  margin: 0;
  margin-block: auto;
}

.Home .Section-5 {
  width: fit-content;

  margin-top: 136px;
  margin-bottom: 136px;
  margin-inline: 30px;
}

.Home .Section-5 .Header {
  width: fit-content;

  margin-bottom: 24px;
  margin-inline: auto;
}

.Home .Section-5 .Header #header-txt {
  color: white;

  font-weight: 700;
  font-size: 28px;

  text-align: center;

  margin: 0;
}

.Home .Section-5 .Description {
  width: fit-content;

  margin-inline: 14px;
}

.Home .Section-5 .Description #desc-txt {
  color: white;

  font-weight: 400;
  font-size: 16px;

  text-align: justify;
}

.Home .Section-5 .Register-Button {
  width: fit-content;

  margin-top: 37px;

  margin-left: auto;
  margin-right: auto;

  position: relative;

  display: block;
  z-index: 5;
}

.Home .Section-5 .Register-Button #regis-btn {
  display: block;

  color: white;

  font-weight: 600;
  font-size: 20px;

  text-decoration: none;

  padding: 16px 36px;

  border-radius: 30px;
  border: 2px solid #062eff;

  background: linear-gradient(125.57deg, #066aff -9.14%, #062eff 118.98%);
  background-repeat: no-repeat;
  box-shadow: 0px 0px 16px rgba(6, 80, 255, 0.35);

  cursor: none;
}

.Home .Section-5 .Register-Button #regis-btn:hover {
  background-image: none;
}

.Home .Section-5 .Register-Button #regis-btn #arrow-logo {
  margin-right: 7px;
}

.Home .Section-5 .Activity-Documentation {
  width: fit-content;

  margin-top: 49px;
  margin-inline: auto;
}

.Home .Section-5 .Activity-Documentation #docu-img-desktop {
  display: none;

  width: 100%;
}
