@media screen and (max-width: 576px) {

    /* //////////////////////////////////////////
        Header Section

    */

    .Home .Header #logo {

        width: 36px;

        padding-top: 30px;
        padding-left: 15px;

    }

    .Home .Header #logo-text {

        display: none;

    }

    /* //////////////////////////////////////////
        Section - 1

    */

    .Home .Section-1 {
        margin-top: 83px;
    }

    .Home .Section-1 .Header {
        width: fit-content;

        margin-bottom: 25px;
        margin-left: 26px;
        margin-right: 26px;
    }

    .Home .Section-1 .Header #header-txt {
        color: white;

        font-size: 36px;
        font-weight: 700;

        line-height: 47.12px;

        text-align: center;

        margin: 0;

    }

    .Home .Section-1 .Description {

        width: fit-content;
        height: fit-content;

        margin-left: 26px;
        margin-right: 26px;

    }

    .Home .Section-1 .Description #desc-txt {

        color: white;

        font-size: 16px;
        font-style: normal;
        font-weight: 500;

        line-height: 29.1px;

        text-align: center;

        margin: 0;

    }

    .Home .Section-1 .Register-Button {

        width: fit-content;

        margin-top: 58px;

        margin-left: auto;
        margin-right: auto;

        position: relative;

        display: block;
        z-index: 5;
    }

    .Home .Section-1 .Register-Button #regis-btn {

        color: white;

        font-weight: 600;
        font-size: 20px;

        text-decoration: none;

        padding: 16px 36px;

        border-radius: 30px;

        background: linear-gradient(125.57deg, #066AFF -9.14%, #062EFF 118.98%);
        box-shadow: 0px 0px 16px rgba(6, 80, 255, 0.35);
    }

    .Home .Section-1 .Register-Button #regis-btn #arrow-logo {
        margin-right: 7px;
    }

    .Home .Section-1 .Illustration {

        margin-left: auto;
        margin-right: auto;

    }

    .Home .Section-1 .Illustration #illus-img {
        width: 85vw;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        display: block;
        z-index: 3;

        top: -60px;
    }

    /* //////////////////////////////////////////
        Section - 2

    */

    .Home .Section-2 {
        margin-top: 135px;
    }

    .Home .Section-2 .Illustration {

        width: fit-content;

        margin-left: auto;
        margin-right: auto;
    }

    .Home .Section-2 .Illustration #illus-img {
        width: 75vw;

        margin-left: 20px;
        margin-right: 20px;
    }

    .Home .Section-2 .Header {

        width: fit-content;

        margin-top: 48px;
        margin-left: auto;
        margin-right: auto;
    }

    .Home .Section-2 .Header #header-txt {
        color: white;

        font-size: 28px;
        font-weight: 700;
        line-height: 37px;
        text-align: center;


        margin: 0;
    }

    .Home .Section-2 .Description {
        width: fit-content;

        margin-top: 24px;
        margin-left: 7vw;
        margin-right: 7vw;
    }

    .Home .Section-2 .Description #desc-txt {
        color: white;

        text-align: center;

        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        text-align: justify;


        margin: 0;
    }

    .Home .Section-2 .Cards {
        color: #110F20;

        width: fit-content;

        display: flex;

        text-align: center;

        margin-top: 24px;

        margin-left: auto;
        margin-right: auto;
    }

    .Home .Section-2 .Cards .Card-1 {
        background-color: #FFFFEF;

        padding: 16px 8px;

        margin-right: 58px;

        border: 1px solid #FFFFEF;
        box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.48);
        border-radius: 8px;
    }

    .Home .Section-2 .Cards .Card-1 #number {

        font-size: 24px;
        font-weight: 700;
        line-height: 37px;

        text-align: center;

        margin: 0;

    }

    .Home .Section-2 .Cards .Card-1 #text {

        font-size: 16px;
        font-weight: 600;
        line-height: 24px;

        text-align: center;

        margin: 0;

    }

    .Home .Section-2 .Cards .Card-2 {
        background-color: #FFFFEF;

        padding: 16px 8px;

        border: 1px solid #FFFFEF;
        box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.48);
        border-radius: 8px;
    }

    .Home .Section-2 .Cards .Card-2 #number {

        font-size: 24px;
        font-weight: 700;
        line-height: 37px;

        text-align: center;

        margin: 0;

    }

    .Home .Section-2 .Cards .Card-2 #text {

        font-size: 16px;
        font-weight: 600;
        line-height: 24px;

        text-align: center;

        margin: 0;

    }

    /* //////////////////////////////////////////
        Section - 3

    */

    .Home .Section-3 {

        margin-top: 126px;
        
    }

    .Home .Section-3>.Header {

        width: fit-content;

        margin-left: auto;
        margin-right: auto;

    }

    .Home .Section-3>.Header #header-txt {
        color: white;

        font-size: 28px;
        font-weight: 700;
        line-height: 37px;

        text-align: center;

        margin: 0;

        padding-left: 10vw;
        padding-right: 10vw;

    }

    .Home .Section-3 .Description .Point-1 {

        width: fit-content;

        display: flex;

        margin-top: 64px;
        margin-inline: 3vw;

    }

    .Home .Section-3 .Description .Point-1 .Point-Symbol {

        width: 36px;

        padding: 24px 24px;

        margin-top: auto;
        margin-bottom: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 0.307419px solid #FFFFEF;
        box-shadow: 0px 0px 7.37807px rgba(255, 255, 255, 0.13), inset 0px 0px 3.68903px rgba(255, 255, 255, 0.15);
        border-radius: 9.83742px;
    }

    .Home .Section-3 .Description .Point-1 .Point-Symbol #point-img {

        width: 36px;

    }

    .Home .Section-3 .Description .Point-1 .Content {
        width: fit-content;

        margin-left: 36px;
    }

    .Home .Section-3 .Description .Point-1 .Content #header-txt {

        color: white;

        font-size: 20px;
        font-weight: 700;
        line-height: 26px;

        margin: 0;

    }

    .Home .Section-3 .Description .Point-1 .Content #desc-txt {

        color: white;

        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        
        text-align: justified;


    }

    .Home .Section-3 .Description .Point-2 {

        width: fit-content;

        display: flex;

        margin-top: 64px;
        margin-inline: 14px;
        
    }

    .Home .Section-3 .Description .Point-2 .Point-Symbol {
        width: 49px;

        padding: 24px 24px;
        
        margin-top: auto;
        margin-bottom: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 0.307419px solid #FFFFEF;
        box-shadow: 0px 0px 7.37807px rgba(255, 255, 255, 0.13), inset 0px 0px 3.68903px rgba(255, 255, 255, 0.15);
        border-radius: 9.83742px;
    }

    .Home .Section-3 .Description .Point-2 .Point-Symbol #point-img {

        width: 23px;

    }

    .Home .Section-3 .Description .Point-2 .Content {
        width: fit-content;

        margin-left: 36px;
    }

    .Home .Section-3 .Description .Point-2 .Content #header-txt {

        color: white;

        font-size: 20px;
        font-weight: 700;
        line-height: 26px;

        margin: 0;

    }

    .Home .Section-3 .Description .Point-2 .Content #desc-txt {

        color: white;

        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        
        text-align: justified;


    }

    .Home .Section-3 .Description .Point-3 {

        width: fit-content;

        display: flex;

        margin-top: 64px;
        margin-inline: 14px;

    }

    .Home .Section-3 .Description .Point-3 .Point-Symbol {

        width: 53px;

        padding: 24px 24px;

        margin-top: auto;
        margin-bottom: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        border: 0.307419px solid #FFFFEF;
        box-shadow: 0px 0px 7.37807px rgba(255, 255, 255, 0.13), inset 0px 0px 3.68903px rgba(255, 255, 255, 0.15);
        border-radius: 9.83742px;
    }

    .Home .Section-3 .Description .Point-3 .Point-Symbol #point-img {

        width: 19px;

    }

    .Home .Section-3 .Description .Point-3 .Content {
        width: fit-content;

        margin-left: 36px;
    }

    .Home .Section-3 .Description .Point-3 .Content #header-txt {

        color: white;

        font-size: 20px;
        font-weight: 700;
        line-height: 26px;

        margin: 0;

    }

    .Home .Section-3 .Description .Point-3 .Content #desc-txt {

        color: white;

        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
        
        text-align: justified;


    }

}