* {
  font-family: "Montserrat";
}

.Main > .popUpBlock {
  position: fixed;

  background-color: transparent;

  width: 100%;
  height: 100%;
  
  margin-top: -20px;

  z-index: 2;
  
  display: none;
}

.Header {
  width: fit-content;
  
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  width: fit-content;

  margin-right: auto;
  margin-left: auto;
}

#headerLogo {
  width: 50vw;
}

#line {
  width: 20vw;
  height: 3px;

  margin-left: auto;
  margin-right: auto;

  background-color: white;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.Title {
  width: fit-content;

  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.Title > #header {
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

  font-style: normal;
  font-weight: 900;
  font-size: 7vw;
}

.Title > #desc {
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

  font-weight: 400;
  font-size: 5vw;

  text-align: center;
}

.Section-1 {
  width: fit-content;
  height: fit-content;

  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.Section-1 > .alertResponse {
  width: fit-content;
  max-width: 80vw;
  height: fit-content;

  background-color: #E26868;

  border-radius: 5px;

  font-size: 12px;
  font-weight: 500;

  padding-left: 13px;
  padding-right: 13px;
  padding-top: 3px;
  padding-bottom: 3px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

  display: none;
}

.Section-1 > .Box-Form {
  width: fit-content;
  height: fit-content;

  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);

  border: 1px solid #FFFFFF;
  border-radius: 20px;
}

.Section-1 > .Box-Form > .First {
  width: fit-content;
  height: fit-content;
  
  margin-top: 33px;
  margin-left: 33px;
  margin-right: 33px;
}

.Section-1 > .Box-Form > .First > .FullName {
  width: fit-content;
  height: fit-content;

  margin: 0;
  padding: 0;
}

.Section-1 > .Box-Form > .First > .FullName > .Title {
  display: flex;
  margin: 0;
}

.Section-1 > .Box-Form > .First > .FullName > .Title > #text {
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  
  font-size: 20px;
  font-weight: 700;
}

.Section-1 > .Box-Form > .First > .FullName > .Title > #requirement {
  color: white;
  
  font-size: 13px;
  font-weight: 300;
  font-style: italic;

  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.Section-1 > .Box-Form > .First > .FullName > #inpName {
  width: 75vw;
  height: 40px;

  border: solid white;
  border-width: 2px;
  border-radius: 10px;

  color: #150E3A;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);

  padding: 10px;

  margin: 0;
  margin-top: 10px;

  font-weight: 400;
  font-size: 16px;

  outline: none;

}

.Section-1 > .Box-Form > .First > .FullName > #inpName:focus {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.Section-1 > .Box-Form > .First > .FullName > #alert {
  color: #FF1E00;

  font-size: 11px;
  font-weight: 500;

  margin-top: 5px;
}

.Section-1 > .Box-Form > .First > .JenisKelamin {
  width: fit-content;
  height: fit-content;

  margin: 0;
  margin-top: 33px;
  padding: 0;
}

.Section-1 > .Box-Form > .First > .JenisKelamin > .Title {
  display: flex;
  margin: 0;
}

.Section-1 > .Box-Form > .First > .JenisKelamin > .Title > #text {
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  
  font-size: 20px;
  font-weight: 700;
}

.Section-1 > .Box-Form > .First > .JenisKelamin > .Title > #requirement {
  color: white;
  
  font-size: 13px;
  font-weight: 300;
  font-style: italic;

  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.Section-1 > .Box-Form > .First > .JenisKelamin > .Box {
  width: 75vw;
  height: 40px;

  border: 1px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);

  margin-top: 10px;

  display: flex;
}

.Section-1 > .Box-Form > .First > .JenisKelamin > .Box > #genderSelected {
  background-color: white;
  border-radius: 7px;

  position: absolute;
  
  width: 37.5vw;
  height: 38px;

  z-index: -1;

  transition: all ease-in-out 300ms;
}

.Section-1 > .Box-Form > .First > .JenisKelamin > .Box > #man {
  color: #150E3A;

  font-weight: 700;
  font-size: 16px;

  width: 37.5vw;
  height: 38px;

  cursor: none;
  
  text-align: center;
  line-height: 38px;

  transition: color ease 300ms;
}

.Section-1 > .Box-Form > .First > .JenisKelamin > .Box > #woman {
  color: white;

  font-weight: 400;
  font-size: 16px;

  width: 37.5vw;
  height: 38px;

  cursor: none;
  
  text-align: center;
  line-height: 38px;

  transition: color ease 300ms;
}

.Section-1 > .Box-Form > .Second {
  width: fit-content;
  height: fit-content;
  
  margin-top: 33px;
  margin-left: 33px;
  margin-right: 33px;
}

.Section-1 > .Box-Form > .Second > .NIM {
  width: fit-content;
  height: fit-content;

  margin: 0;
  padding: 0;
}

.Section-1 > .Box-Form > .Second > .NIM > .Title {
  display: flex;
  margin: 0;
}

.Section-1 > .Box-Form > .Second > .NIM > .Title > #text {
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  
  font-size: 20px;
  font-weight: 700;
}

.Section-1 > .Box-Form > .Second > .NIM > .Title > #requirement {
  color: white;
  
  font-size: 13px;
  font-weight: 300;
  font-style: italic;

  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.Section-1 > .Box-Form > .Second > .NIM > #inpNim {
  width: 75vw;
  height: 40px;

  border: solid white;
  border-width: 2px;
  border-radius: 10px;

  color: #150E3A;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);

  padding: 10px;

  margin: 0;
  margin-top: 10px;

  font-weight: 400;
  font-size: 16px;

  outline: none;
}

.Section-1 > .Box-Form > .Second > .NIM > #inpNim:focus {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.Section-1 > .Box-Form > .Second > .NIM > #alert {

  color: #FF1E00;

  font-size: 13px;
  font-weight: 500;

  margin-top: 10px;

}

.Section-1 > .Box-Form > .Second > .Interest {
  position: absolute;

  width: fit-content;
  height: fit-content;

  margin: 0;
  margin-top: 450px;
  /* margin-top: 33px; */
  padding: 0;
}

.Section-1 > .Box-Form > .Second > .Interest > .Title {
  display: flex;
  margin: 0;
}

.Section-1 > .Box-Form > .Second > .Interest > .Title > #text {
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  
  font-size: 20px;
  font-weight: 700;
}

.Section-1 > .Box-Form > .Second > .Interest > .Title > #requirement {
  color: white;
  
  font-size: 13px;
  font-weight: 300;
  font-style: italic;

  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.Section-1 > .Box-Form > .Second > .Interest > #inpInterest {
  width: 75vw;
  height: 40px;

  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  
  margin-top: 10px;
}

.Section-1 > .Box-Form > .Second > .Interest > #alert {
  color: #FF1E00;

  font-size: 13px;
  font-weight: 500;

  margin-top: 10px;
}

.Section-1 > .Box-Form > .Third {
  width: fit-content;
  height: fit-content;
  
  margin-top: 33px;
  margin-left: 33px;
  margin-right: 33px;
}

.Section-1 > .Box-Form > .Third > .Email {
  position: absolute;

  width: fit-content;
  height: fit-content;

  margin: 0;
  margin-top: 0px;
  padding: 0;
}

.Section-1 > .Box-Form > .Third > .Email > .Title {
  display: flex;
  margin: 0;
}

.Section-1 > .Box-Form > .Third > .Email > .Title > #text {
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  
  font-size: 20px;
  font-weight: 700;
}

.Section-1 > .Box-Form > .Third > .Email > .Title > #requirement {
  color: white;
  
  font-size: 13px;
  font-weight: 300;
  font-style: italic;

  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.Section-1 > .Box-Form > .Third > .Email > .InputEmail {
  margin-top: 10px;
  display: flex;
}

.Section-1 > .Box-Form > .Third > .Email > .InputEmail > #inpEmail {
  width: 50vw;
  height: 40px;

  border: solid white;
  border-width: 2px;
  border-radius: 10px;

  color: #150E3A;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);

  padding: 10px;

  font-weight: 400;
  font-size: 16px;

  outline: none;
}

.Section-1 > .Box-Form > .Third > .Email > .InputEmail > #mailDomain {
  width: 25vw;
  height: 40px;

  color: #150E3A;

  background-color: white;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);

  text-align: center;
  line-height: 40px;

  border-radius: 10px;

  font-weight: 400;
  font-size: 16px;
}

.Section-1 > .Box-Form > .Third > .Email >  #alert {
  color: #FF1E00;

  font-size: 13px;
  font-weight: 500;

  margin-top: 10px;
}

.Section-1 > .Box-Form > .Third > .Departments {
  position: absolute;

  width: fit-content;
  height: fit-content;

  margin: 0;
  margin-top: 216px;
  padding: 0;
}

.Section-1 > .Box-Form > .Third > .Departments > .Title {
  display: flex;
  margin: 0;
}

.Section-1 > .Box-Form > .Third > .Departments > .Title > #text {
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  
  font-size: 20px;
  font-weight: 700;
}

.Section-1 > .Box-Form > .Third > .Departments > .Title > #requirement {
  color: white;
  
  font-size: 13px;
  font-weight: 300;
  font-style: italic;

  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.Section-1 > .Box-Form > .Third > .Departments > #inpDepartment {
  width: 75vw;
  height: 40px;

  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  
  margin-top: 10px;
}

.Section-1 > .Box-Form > .Third > .Departments >  #alert {
  color: #FF1E00;

  font-size: 13px;
  font-weight: 500;

  margin-top: 10px;
}

.Section-1 > .Box-Form > .Fourth {
  width: fit-content;
  height: fit-content;
  
  margin-top: 33px;
  margin-left: 33px;
  margin-right: 33px;
}

.Section-1 > .Box-Form > .Fourth > .WaNum {
  position: absolute;

  width: fit-content;
  height: fit-content;

  margin: 0;
  margin-top: 109px;
  padding: 0;
}

.Section-1 > .Box-Form > .Fourth > .WaNum > .Title {
  display: flex;
  margin: 0;
}

.Section-1 > .Box-Form > .Fourth > .WaNum > .Title > #text {
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  
  font-size: 20px;
  font-weight: 700;
}

.Section-1 > .Box-Form > .Fourth > .WaNum > .Title > #requirement {
  color: white;
  
  font-size: 13px;
  font-weight: 300;
  font-style: italic;

  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.Section-1 > .Box-Form > .Fourth > .WaNum > #inpWaNum {
  width: 75vw;
  height: 40px;

  border: solid white;
  border-width: 2px;
  border-radius: 10px;

  color: #150E3A;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);

  padding: 10px;

  margin: 0;
  margin-top: 10px;

  font-weight: 400;
  font-size: 16px;

  outline: none;
}

.Section-1 > .Box-Form > .Fourth > .WaNum > #alert {
  color: #FF1E00;

  font-size: 13px;
  font-weight: 500;

  margin-top: 10px;
}

.Section-1 > .Box-Form > .Fourth > .Majors {
  position: absolute;

  width: fit-content;
  height: fit-content;

  margin: 0;
  margin-top: 321px;
  /* margin-top: 33px; */
  padding: 0;
}

.Section-1 > .Box-Form > .Fourth > .Majors > .Title {
  display: flex;
  margin: 0;
}

.Section-1 > .Box-Form > .Fourth > .Majors > .Title > #text {
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  
  font-size: 20px;
  font-weight: 700;
}

.Section-1 > .Box-Form > .Fourth > .Majors > .Title #requirement {
  color: white;
  
  font-size: 13px;
  font-weight: 300;
  font-style: italic;

  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.Section-1 > .Box-Form > .Fourth > .Majors > #inpMajor {
  width: 75vw;
  height: 40px;

  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
  
  margin-top: 10px;
}

.Section-1 > .Box-Form > .Fourth > .Majors > #alert {
  color: #FF1E00;

  font-size: 13px;
  font-weight: 500;

  margin-top: 10px;
}

.Section-1 > .Box-Form > .Fifth {
  width: fit-content;
  height: fit-content;
  
  margin-top: 33px;
  margin-bottom: 33px;
  margin-left: 33px;
  margin-right: 33px;
}

.Section-1 > .Box-Form > .Fifth > .Portfolio {
  width: fit-content;
  height: fit-content;

  margin: 0;
  margin-top: 570px;
  padding: 0;
}

.Section-1 > .Box-Form > .Fifth > .Portfolio > .Title {
  display: flex;
  margin: 0;
}

.Section-1 > .Box-Form > .Fifth > .Portfolio > .Title > #text {
  color: white;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  
  font-size: 20px;
  font-weight: 700;
}

.Section-1 > .Box-Form > .Fifth > .Portfolio > .Title > #requirement {
  color: white;
  
  font-size: 13px;
  font-weight: 300;
  font-style: italic;

  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.Section-1 > .Box-Form > .Fifth > .Portfolio > #inpPortfolio {
  width: 75vw;
  height: 40px;

  border: solid white;
  border-width: 2px;
  border-radius: 10px;

  color: #150E3A;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);

  padding: 10px;

  margin: 0;
  margin-top: 10px;

  font-weight: 400;
  font-size: 16px;

  outline: none;
}

.Section-1 > .Submit {
  width: fit-content;

  margin-top: 50px;
  margin-bottom: 70px;
  margin-right: auto;
  margin-left: auto;
}

.Section-1 > .Submit > #submitBtn {
  padding: 15px 40px;

  color: #FFFFFF;

  background: linear-gradient(125.57deg, #066AFF -9.14%, #062EFF 118.98%);
  background-color: #062EFF;
  box-shadow: 0px 0px 16px rgba(6, 80, 255, 0.35);
  
  border: 3px solid #110f20;
  border-radius: 20px;

  font-weight: 700;
  font-size: 20px;
  
  transition: all ease-out 300ms;
}

.Section-1 > .Submit > #submitBtn:hover {
  border-color: #062EFF;
  background-color: transparent;
  background-image: none;

  transition: all ease-out 300ms;
}

.Section-1 > .Submit > .loading {
  width: fit-content;
  height: fit-content;

  margin-left: auto;
  margin-right: auto;

  display: none;
}

/* Loading Animation */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#captcha-box {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

#submitBtnDisable {
  padding: 15px 40px;
  color: #c4c4c4;
  border-color: #062EFF;
  background-color: transparent;
  background-image: none;
  box-shadow: 0px 0px 16px rgba(6, 80, 255, 0.35);
  border-radius: 20px;
  cursor: default;
  font-weight: 700;
  font-size: 30px;
  transition: all ease-out 300ms;
}